{% extends "base.html" %}

{% block title %}
    <title>Crypto Tools</title>
{% endblock %}

{% block meta %}
    <meta content="" name="description">
    <meta content="" name="keywords">
{% endblock %}

{% block content %}
    {% from "bootstrap5/form.html" import render_form %}
    <div class="container">
        <h1>Crypto Price Checker</h1>

        <div class="price-checker">
            {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>

        <div class="current-prices">
        {% for price_str in prices: %}
            <p>{{ price_str }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}