{% extends "base.html" %}

{% block title %}
    <title>Crypto Tools</title>
{% endblock %}

{% block meta %}
    <meta content="" name="description">
    <meta content="" name="keywords">
{% endblock %}

{% block content %}
    {% from "bootstrap5/form.html" import render_form %}
    <div class="container">
        {% if current_user.is_authenticated %}
            <h1>{{ current_user.username }}'s Portfolio</h1>
        {% else %}
            <h1>Guest Portfolio</h1>
        {% endif %}
<!--        <button class="btn btn-primary add-purchase" type="button">Add Purchase</button>-->
        <a class="add-purchase" href="#">Add Purchase</a>

        <div id="purchase-form" class="d-none">
        {{ render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>

        {{ portfolio.to_html()|safe }}
    </div>
{% endblock %}